name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
          components: clippy, rustfmt
      - name: Setup rust
        shell: bash
        run: |
          cargo install wasm-pack
          cargo clean
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile && pnpm --filter playground exec playwright install
      - name: Build Projects and Validate Code Formatting
        shell: bash
        run: |
          pnpm run lint
          pnpm run test
          pnpm run build:prod
          # echo "Building Projects"
          # pnpm run build & build_pid=$!

          # echo "Validating Code Formatting"
          # pnpm run lint & lint_pid=$!

          # echo "Testing Projects"
          # pnpm run test & test_pid=$!

          # wait $build_pid; build_exit_code=$?
          # wait $lint_pid; lint_exit_code=$?
          # wait $test_pid; test_exit_code=$?

          # if [ $build_exit_code -ne 0 ] || [ $lint_exit_code -ne 0 ] || [ $test_exit_code -ne 0 ]; then
          #   echo "Build, lint, or test failed. Exiting." >&2
          #   exit 1
          # fi
